<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recipey.nhnic.recipey">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.DummyActivity" />

        <activity android:name=".recipe.RecipeActivity" />

        <receiver android:name=".tabs.cookbook.favorites.FavoritesFragment$FavoritesUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="com.recipey.UPDATE_FAVORITES"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".tabs.cookbook.history.HistoryFragment$HistoryUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="com.recipey.UPDATE_HISTORY"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>
